@model List<Usuario>
@{
    ViewData["Title"] = "Listagem de Usuario";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped"> 
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Usuario u in Model)
                {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Nome</td>
                    <td>@u.Email</td>
                    <td>@u.Senha</td>
                    <td><a href="/Usuario/Edicao/@u.Id">Editar</a></td>
                    @* <td><a href="/Excluir?id=@Usuario.Id">Excluir</a></td> *@
                </tr>
                }
            </tbody>
        </table>
        @* @if (Model.Count <=0 ) {
        <p>Nenhum registro encontrado</p>
        } *@
    </div>
</div>